<h2>欢迎来到负能量小站</h2>
<br>
<h3>一、负站是什么？</h3>
<p>负站是“负能量小站”的简称。</p>
<p>有正能量，自然也有负能量，这很正常，没必要大惊小怪。有时候，负能量也确实会影响到生活，严重的时候会危机生命安全，
  现在主流社会都一直要消灭负能量什么的，可是它是消灭不完的呀！所以，不如大家把各自的负能量发出来，看看自己的，再看看
  别人的，没准心理就平衡了！
</p>
<br>
<h3>二、规则如何？</h3>
<p>小站是有规则的。</p>
<p>大家不用注册登陆便可以发布负能，每个人都有权删除别人发现的负能，每条负能可以选择标签，如懦弱、报怨等，标签可以自己添加。
</p>
<br>
<h3>三、关于网站</h3>
<p>目前开发者在学习编程中，功力有限，大家将就着玩呗！</p>
<p>如果你是ruby行家，又实在看不下去这个破网站，请速速联系我（qq:2560617689)！让我抱抱大腿！！！</p>
