<div class="col-md-4 col-md-offset-4">
  <h2>给负能加个标签</h2>
  <hr>
  <%= simple_form_for @category do |f| %>
    <div class="form-post">
      <%= f.input :name,input_html:{class:"from-control"} %>
    </div>
      <%= f.submit "Submit",class:"btn btn-primary", data:{disable_with:"Submitting..."} %>
  <% end %>
</div>
